# Ambiente virtual
venv/
env/
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3
db.sqlite3-journal

# Variáveis de ambiente
.env
.env.*

# Arquivos estáticos gerados
staticfiles/

# Uploads / mídia
media/

# VS Code
.vscode/

# PyCharm
.idea/

# Sistema operacional
.DS_Store
Thumbs.db